{% extends "quizzes_base.html" %}
{% block content %}
  <script>
    const categoria = 2; // Categoria de Conhecimento Geral
    const perguntas = [ // Array de perguntas e respostas
      {
        pergunta: "Qual é a capital de Portugal?",
        opcoes: ["Lisboa", "Porto", "Faro", "Coimbra"],
        correta: "Lisboa"
      },
      {
        pergunta: "Em que ano o homem foi à Lua?",
        opcoes: ["1965", "1969", "1972", "1959"],
        correta: "1969"
      },
      {
        pergunta: "Quem escreveu 'Dom Quixote'?",
        opcoes: ["Shakespeare", "Camões", "Cervantes", "Machado de Assis"],
        correta: "Cervantes"
      }
    ];
    </script>
    {% endblock %}
