<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <title>Quizzify</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/principal.css') }}">
</head>
<body>

  <header>
    <h1>Quizzify: Desafia a tua mente!</h1>
  </header>

  
  <div class="wrapper">
    <nav class="sidebar" id="sidebar">
      <button class="toggle-btn" id="toggleBtn">☰</button>

      <img src="{{ url_for('static', filename='images/ponto_de_interrogação_logo.png') }}" alt="ponto de interrogação">

      <button><a href="{{ url_for('logout') }}"><span>👤 Logout</span></a></button>

      <div class="custom-dropdown">
        <button class="btn btn-secondary" id="toggleCategorias"><span>📚 Categorias</span>
        <span class="arrow">&#9662;</span>
      </button>
        <ul class="dropdown-content" id="categoriasMenu">
          <li><a href="{{ url_for('Conhecimento_geral') }}">🌍 Conhecimento Geral</a></li>
          <li><a href="{{ url_for('Entretenimento') }}">🎬 Entretenimento</a></li>
          <li><a href="{{ url_for('Desporto') }}">⚽ Desporto</a></li>
          <li><a href="{{ url_for('Ciência') }}">🔬 Ciência</a></li>
        </ul>
      </div>


      <button><a href="{{ url_for('ranking') }}"><span>🏆 Rank</span></a></button>

      <button><a href="{{ url_for('estatisticas') }}"><span>📊 Estatísticas</span></a></button>
      
      <button><a href="{{ url_for('definicoes') }}" style="margin-top: auto;"><span>⚙ Definições</span></a></button>
    </nav>
    <div class="content">
      {% block content %}
      <!-- Content will be injected here -->
      {% endblock %}
    </div>
  

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleBtn = document.getElementById('toggleBtn');
    const sidebar = document.getElementById('sidebar');

    toggleBtn.addEventListener('click', function () {
      sidebar.classList.toggle('collapsed');
    });
  });
</script>

<script>
  const toggleCategorias = document.getElementById('toggleCategorias');
  const dropdownWrapper = document.querySelector('.custom-dropdown');

  toggleCategorias.addEventListener('click', () => {
    dropdownWrapper.classList.toggle('active');
  });
</script>


</body>
</html>
